body {
    font-family: 'Mongolian Baiti', Arial, sans-serif;
    animation-name: easyAnimation4;
    animation-duration: 14s;
    animation-delay: 2s;
}

.section_top {
    margin: auto;
    height: 100px;
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
}

h3 {
    display: inline;
    top: auto;
    margin-top: 30px;
    vertical-align: middle;
}
tr:nth-child(1) td {
    animation-name: easyAnimation1;
    animation-duration: 8s;
    animation-delay: 2s;
}
tr:nth-child(2) td {
    animation-name: easyAnimation2;
    animation-duration: 10s;
    animation-delay: 2s;
}
tr:nth-child(3) td {
    animation-name: easyAnimation3;
    animation-duration: 12s;
    animation-delay: 2s;
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: .9em;
    }
}

@keyframes easyAnimation1 {
    from {
        color: black;
        transform: rotate(0);
    }
    to {
        color: yellow;
        transform: rotate(10deg);
    }
}

@keyframes easyAnimation2 {
    from {
        color: black;
        transform: rotate(0);
    }

    to {
        color: orange;
        transform: rotate(-15deg);
    }
}

@keyframes easyAnimation3 {
    from {
        color: black;
        transform: rotate(0);
    }

    to {
        color: red;
        transform: rotate(17deg);
    }
}

@keyframes easyAnimation4 {
    from {
        background-image: linear-gradient(to right, white, white);
    }

    to {
        background-image: linear-gradient(to right, yellow, red);
    }
}