body {
}

.auto-style3 {
    height: 40px;
}

.auto-style4 {
    height: 40px;
    width: 299px;
}

.auto-style5 {
    width: 299px;
}

.auto-style8 {
    height: 40px;
    width: 271px;
    text-align: right;
}

.auto-style9 {
    width: 271px;
}

.auto-style10 {
    width: 271px;
    text-align: right;
}

.auto-style11 {
    font-size: larger;
}

.auto-style12 {
    text-align: center;
}

.auto-style13 {
    background-color: #FFFFFF;
}

.auto-style14 {
    font-size: larger;
    background-color: #FFFFFF;
}

.auto-style15 {
    width: 271px;
    text-align: right;
    height: 42px;
}

.auto-style16 {
    width: 299px;
    height: 42px;
}

.auto-style17 {
    height: 42px;
}

.auto-style18 {
    font-size: large;
    color: #0033CC;
}